* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li {
    margin: 6px 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem;
}

.menu div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.personal {
     background-color: #e2f6d5;
    border-radius: 12px;
    text-decoration: none;
    padding: 1px;
    font-size: 1vw;
}


.personal:hover {
    background-color: rgb(199, 246, 230);
}

.personal a {
    padding: 10px;
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw;
    border-radius: 15px;
    padding: 20px 10px;
}

.register {
    background-color: #9fe870;
    border-radius: 12px;
    text-decoration: none;
    padding: 1px;
    font-size: 1vw;
    margin-right: 100px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.register:hover {
    background-color: rgb(50, 250, 50);
}

.register a {
    padding: 5px 5px;
    text-decoration: none;
    color: #163300;
    font-size: 1vw;
    border-radius: 15px;
    border: none;
}

.platform a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw;
}

.platform a:hover {
    background-color: rgb(223, 219, 219);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.features a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw; 
}
.dropdown ul li {
}
.logo {
    margin-left: 100px;
}

.pricing a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw; 
}

.pricing a:hover {
    background-color: rgb(223, 219, 219);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.help a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw; 
}

.help a:hover {
    background-color: rgb(223, 219, 219);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}


.lang a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw;
}

.log a {
    text-decoration: none;
    color: #163300;
    font-size: 1.1vw;
}

.log a:hover {
    background-color: rgb(223, 219, 219);
    border: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.rounded {
    border-radius: 50%;
}

/* Main */

.ratings {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.hero-title {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.hero-description {
    margin: 25px;
    display: flex;
    justify-content: center;
}

.hero-description p {
    text-align: center;
    line-height: 1.5;
}

.hero-buttons {
    border: none;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 50px;
}

.hero-send a {
    background-color: #9fe870;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1vw;
    color: black;
    font-weight: bold;
}


.hero-map a {
    content: '';
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
    font-weight: bold;
    border-bottom: 2px solid black;
}



